*{
    font-family: 'Merriweather Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
}
.item{
    position: relative;
    text-decoration: none;
    color: black;
    padding: 20px;
}
button {
    margin-top: 10px;
}
section {
    max-width: 600px;
    margin: 0 auto;
}
.img-icon {
    position: absolute;
    width: 90px; 
    left: 24%;
}

.features {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.video {
    margin-top: 60px;
    margin-bottom: 60px;
}
.price {
    position: relative;
    display: flex;
    justify-content: space-between;
        
}