*{
    font-family: 'Merriweather Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
}
.item{
    position: relative;
    text-decoration: none;
    color: black;
    padding: 20px;
}
button {
    margin-top: 10px;
}
section {
    max-width: 700px;
    margin: 0 auto;
}
.title{
    text-align: center;
}
.img-icon {
    width: 90px; 
}

.features{
    max-width: 930px;
    display: flex;
}

.info{
    margin: 0 10px;
}

.video {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.price {
    display: flex;
    flex-wrap: wrap;
}
.box-price{
    margin: 10px 10px;
    border: 1px solid black;
    padding: 2px 20px;
    text-align: center;
    align-self: center;
    flex: 1;
}

footer {
    background-color: rgb(212, 212, 212);
    margin: 40px 20px;
    text-align: center;
    padding: 3px;
}